<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Upcoming Photo Walks</h2>
            <p class="small" style="font-style: italic">
                Photo Walks are scheduled every other Wednesday night, each at a different location around Boston.
            </p>
            {% for event in events %}
                <div class="event-card">
                    <div class="event-card--top" style="background-image: url('{{ event.bannerImageUrl }}');">
                        <div class="event-card--top--inner">
                            <div class="event-card--date">
                                <div class="event-card--date--month">
                                    {{event.date|date('M')}}
                                </div>
                                <div class="event-card--date--day">
                                    {{event.date|date('d')}}
                                </div>
                                <div class="event-card--date--year">
                                    {{event.date|date('Y')}}
                                </div>
                            </div>
                            <div class="event-card--top--title">
                                <h2>{{event.title}}</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="event-card--bottom">
                        <p>{{event.description}}  </p>
                        <a class="btn btn-info" href="/events/{{event.id}}" role="button">
                            View Details / RSVP
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% if events is empty %}
                <p class="lead">Currently, there are no publicly scheduled events.</p>
                <p>If you are interested in joining upcoming Photo Walks, email {% include 'partials/apply_email_link.html.twig' %} and include the following information:</p>
                <ul>
                    <li>Your full name</li>
                    <li>Instagram link</li>
                    <li>Are you primarily a photographer or model?</li>
                    <li>Website link</li>
                    <li>Level of experience</li>
                    <li>Anything else you'd like to share</li>
                </ul>
                <p>If approved, you will be contacted shortly with details on the next photo walk. Then, if you show up in person and put your best foot forward, you'll be invited to join the closed Photo Walk Wednesdays Facebook group and attend any future Photo Walk Wednesday events you like.</p>
            {% endif %}
        </div>
    </div>
</div>