<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">

            <h2>The Team</h2>
            <p>Meet the organizers who make Photo Walk Wednesdays happen!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card team-card">
                <img class="card-img-top" src="{{ asset('images/team/munish.jpg') }}" title="Photo by Andrew Veenstra">
                <p class="photo-byline">Photo by Andrew Veenstra</p>
                <div class="card-body text-center">
                    <h5 class="card-title">Munish Gandevia</h5>
                    <a class="social-btn" target="_blank" href="https://www.instagram.com/munishot_photography">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="https://munishgandevia.com">
                        <i class="fas fa-home"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="https://www.facebook.com/munishot.photo">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="mailto:MunishGandevia@Gmail.com">
                        <i class="far fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card team-card">
                <img class="card-img-top" src="{{ asset('images/team/jess.jpg') }}">
                <p class="photo-byline">Photo by Ginny Cummings</p>
                <div class="card-body text-center">
                    <h5 class="card-title">Jessica Ferraro</h5>
                    <a class="social-btn" target="_blank" href="https://www.instagram.com/supernova_vision">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card team-card">
                <img class="card-img-top" src="{{ asset('images/team/andrew.jpg') }}">
                <p class="photo-byline">Photo by Andrew MacRobert</p>
                <div class="card-body text-center">
                    <h5 class="card-title">Andrew MacRobert</h5>
                    <a class="social-btn" target="_blank" href="https://www.instagram.com/andrew.macrobert">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="https://andrewmacrobert.com">
                        <i class="fas fa-home"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="https://www.facebook.com/AndrewMacRobertPhoto">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="mailto:andrew@andrewmacrobert.com">
                        <i class="far fa-envelope"></i>
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card team-card">
                <img class="card-img-top" src="{{ asset('images/team/teddy.jpg') }}">
                <p class="photo-byline">Photo by Alex Iby</p>
                <div class="card-body text-center">
                    <h5 class="card-title">Teddy Petrosky</h5>
                    <a class="social-btn" target="_blank" href="https://www.instagram.com/epsilonphoto">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="http://www.epsilonarts.com">
                        <i class="fas fa-home"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card team-card">
                <img class="card-img-top" src="{{ asset('images/team/hana.jpg') }}">
                <p class="photo-byline">Photo by Hana Isihara</p>
                <div class="card-body text-center">
                    <h5 class="card-title">Hana Isihara</h5>
                    <a class="social-btn" target="_blank" href="https://www.instagram.com/hanaisiharaphoto">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social-btn" target="_blank" href="http://www.hanaisihara.com">
                        <i class="fas fa-home"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card team-card">
                <img class="card-img-top" src="{{ asset('images/team/tyler.jpg') }}">
                <p class="photo-byline">Photo by Tyler Viglione</p>
                <div class="card-body text-center">
                    <h5 class="card-title">Tyler Viglione</h5>
                    <a class="social-btn" target="_blank" href="https://www.instagram.com/nomadic.visionary">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
