{% extends "base.html.twig" %}

{% block title %}
    {{ event.title }} - Photo Walk Wednesdays
{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{event.title}} {{event.date|date('M d')}} - Photo Walk Wednesdays" />
    <meta property="og:description" content="A free creative meetup in Boston for photographers and models" />
    <meta property="og:url" content="http://{{host}}/events/{{event.id}}" />
    <meta property="og:image" content="http://{{host}}{{event.bannerImageUrl}}" />
{% endblock %}

{% block body %}

    <div class="event-page--banner" style="background-image: url('{{event.bannerImageUrl}}')">
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                {% if password_right %}
                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Access granted.</strong> You may now RSVP and view the meeting location and parking instructions. See you on Wednesday!
                    </div>
                {% elseif password_wrong %}
                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Password incorrect.</strong> Sorry, that is not the password for this event. See below for instructions on requesting access.
                    </div>
                {% endif %}

                <h3 class="event-page--subtitle">Photo Walk Wednesdays:</h3>
                <h1 class="event-page--title">{{event.title}}</h1>
                <h3 class="event-page--title-date">{{event.date|date('l F jS, Y')}}</h3>
                <p class="lead" style="text-align: justify">{{event.description}}</p>
            </div>
        </div>

        {% if event.facebookLink and has_access == false %}
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3 password-to-rsvp">
                    Enter password below to get the RSVP link
                </div>
            </div>
        {% endif %}

        {% if event.facebookLink and has_access %}
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <a class="btn btn-primary btn-lg btn-block" target="_blank" href="{{event.facebookLink}}">
                        RSVP on Facebook
                    </a>
                </div>
            </div>
        {% endif %}

        <hr>

        <div class="row mb-5">
            <div class="col-md-6">
                <dl>
                    <dt>Date</dt>
                    <dd>{{event.date|date('l F jS, Y')}}</dd>

                    <dt>Time</dt>
                    <dd>{{event.date|date('g:i A')}}</dd>

                    {% if event.modelTheme %}
                        <dt>Optional Model Theme</dt>
                        <dd>{{event.modelTheme}}</dd>
                    {% endif %}

                    {% if event.photographerChallenge %}
                        <dt>Optional Photographer Challenge</dt>
                        <dd>{{event.photographerChallenge}}
                    {% endif %}

                    <dt>About</dt>
                    <dd>Photo Walk Wednesdays is a free bi-weekly meetup in Boston for photographers and models to practice their art in a collaborative, no-pressure environment.</dd>
                </dl>
            </div>

            <div class="col-md-6">
                {% if has_access == false %}
                    <dl>
                        <dt>Meeting Location & RSVP</dt>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 password-protected">
                                    <h5 class="password-protected--title">Password Required</h5>

                                    <form method="post">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <input
                                                    type="text"
                                                    class="form-control mb-2"
                                                    id="event_{{ event.id }}_pass"
                                                    name="event_{{ event.id }}_pass"
                                                    placeholder="Event Password" />
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-secondary mb-2">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                    <hr>

                                    <div class="password-protected--instructions">
                                        <p>To request the password for this event, apply here. If you application is approved, we will provide you with the password for the event.
                                        {% include 'partials/apply_modal_button.html.twig' %}
                                        </p>
                                    </div>

                                    <div class="password-protected--explanation">
                                        <p>As much as we would like to welcome everyone, we need to screen new members to keep a balance of models and photographers and make sure you're a good fit. This ensures all attendees can make the most out of each photo walk.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dl>
                {% else %}
                    <dl>
                        {% if event.meetingLocation %}
                            <dt>Meeting Location</dt>
                            <dd><a href="https://www.google.com/maps/search/{{event.meetingLocation|url_encode}}" target="_blank">
                                    {{event.meetingLocation}}
                                </a>
                                {% if event.meetingInstructions %}
                                    <p>
                                        {{event.meetingInstructions}}
                                    </p>
                                {% endif %}
                                <iframe
                                    frameborder="0" style="border:0; width: 100%; height: 350px"
                                    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDzlJVE3Ow9be-h2MTbh01Zuj7KtBfW_ss&q={{event.meetingLocation|url_encode}}"
                                    allowfullscreen>
                                </iframe>
                            </dd>
                        {% endif %}

                        {% if event.parking %}
                            <dt>Parking Instructions</dt>
                            <dd>{{event.parking}}</dd>
                        {% endif %}
                    </dl>
                {% endif %}

            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                Share this event
                {% include 'partials/rrssb.html.twig' %}
            </div>
        </div>

    </div>

{% endblock %}
