{% extends "base.html.twig" %}

{% block title %}
    {{ event.title }} - Photo Walk Boston
{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{event.title}} {{event.date|date('M d')}} - Photo Walk Boston" />
    <meta property="og:description" content="A free creative meetup in Boston for photographers and models" />
    <meta property="og:url" content="http://{{host}}/events/{{event.id}}" />
    <meta property="og:image" content="http://{{host}}{{event.bannerImageUrl}}" />
{% endblock %}

{% block body %}
    {% include 'partials/application-modal.html.twig' %}

    <div class="event-page--banner" style="background-image: url('{{event.bannerImageUrl}}')">
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                {% if password_right %}

                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      <p>
                          <strong>Access granted.</strong> You may now see the meeting location and parking instructions.
                            Nothing more is required from you -- just show up! See you at the meetup!
                      </p>
                        <button type="button" class="btn btn-success btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#addToCalendar">
                            Add to calendar
                        </button>
                    </div>
                {% elseif password_wrong %}
                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Password incorrect.</strong> Sorry, that is not the password for this event. See below for instructions on requesting access.
                    </div>
                {% endif %}

                {% include 'partials/flash-messages.html.twig' %}

                <h3 class="event-page--subtitle">Photo Walk Boston:</h3>
                <h1 class="event-page--title">{{event.title}}</h1>
                <h3 class="event-page--title-date">{{event.date|date('l F jS, Y')}}</h3>
                <p class="lead" style="text-align: justify">{{event.description}}</p>
            </div>
        </div>

        {% if has_access == false %}
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3 password-to-rsvp">
                    Enter password below to get the RSVP link
                </div>
            </div>
        {% endif %}

        {% if has_access == true %}
            {% include 'partials/add-to-calendar-modal.html.twig' %}
            <div class="row mb-3">
                <div class="col">
                    <button type="button" style="width:100%" class="btn btn-outline-success btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#addToCalendar">
                        Add to calendar →
                    </button>
                </div>
            </div>
        {% endif %}

        {% if event.facebookLink and has_access %}
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <a class="btn btn-primary btn-lg btn-block" target="_blank" href="{{event.facebookLink}}">
                        RSVP on Facebook
                    </a>
                </div>
            </div>
        {% endif %}

        <hr>

        <div class="row mb-5">
            <div class="col-md-6">
                <dl>
                    <dt>Date</dt>
                    <dd>{{event.date|date('l F jS, Y')}}</dd>

                    <dt>Time</dt>
                    <dd>{{event.date|date('g:i A')}}</dd>

                    {% if event.modelTheme %}
                        <dt>Optional Model Theme</dt>
                        <dd>{{event.modelTheme}}</dd>
                    {% endif %}

                    {% if event.photographerChallenge %}
                        <dt>Optional Photographer Challenge</dt>
                        <dd>{{event.photographerChallenge}}
                    {% endif %}

                    <dt>About</dt>
                    <dd>Photo Walk Boston is a free intermittent meetup in Boston for photographers and models to practice their art in a collaborative, no-pressure environment.</dd>
                    <dd class="text-muted">This is a meetup for people age 18 and up. This group is for adults to practice, network, learn and socialize. It is not intended to be a family- or child-friendly outing.</dd>
                </dl>
            </div>

            <div class="col-md-6">
                {% if has_access == false %}
                    <dl>
                        <dt>Meeting Location & RSVP</dt>
                        <div class="container-fluid">
                            <div class="row gx-5">
                                <div class="col password-protected">
                                    <h5 class="password-protected--title">Password Required</h5>

                                    <form method="post">
                                        <div class="input-group mb-3">
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="event_{{ event.id }}_pass"
                                                name="event_{{ event.id }}_pass"
                                                placeholder="Event Password" />

                                            <button type="submit" class="btn btn-secondary">
                                                Submit
                                            </button>
                                        </div>
                                    </form>

                                    <hr>

                                    <div class="password-protected--instructions">
                                        {% if applicationPending %}
                                            <p><strong>You have already submitted an application to join.</strong></p>
                                        {% else %}
                                            <p>To request the password for this event, ask here:</p>
                                            <p>
                                                <button type="button" class="btn btn-lg btn-secondary btn-outline-light" style="width: 100%" data-bs-toggle="modal" data-bs-target="#applicationModal">
                                                    Request the Password
                                                </button>
                                            </p>
                                            <p>If approved, you will be contacted shortly with the password. Then, if you show up in person and put your best foot forward, you'll be invited to join the closed Photo Walk Boston Facebook group and attend any future Photo Walk Boston meetups you like.</p>
                                        {% endif %}
                                    </div>

                                    <div class="password-protected--explanation">
                                        <p>As much as we would like to welcome everyone, we need to screen new members to keep a balance of models and photographers and make sure you're a good fit. This ensures all attendees can make the most out of each photo walk.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dl>
                {% else %}
                    <dl>
                        {% if event.meetingLocation %}
                            <dt>Meeting Location</dt>
                            <dd><a href="https://www.google.com/maps/search/{{event.meetingLocation|url_encode}}" target="_blank">
                                    {{event.meetingLocation}}
                                </a>
                                {% if event.meetingInstructions %}
                                    <p>
                                        {{event.meetingInstructions}}
                                    </p>
                                {% endif %}
                                <iframe
                                    style="border:0; width: 100%; height: 350px"
                                    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDzlJVE3Ow9be-h2MTbh01Zuj7KtBfW_ss&q={{event.meetingLocation|url_encode}}"
                                    allowfullscreen>
                                </iframe>
                            </dd>
                        {% endif %}

                        {% if event.parking %}
                            <dt>Parking Instructions</dt>
                            <dd>{{event.parking}}</dd>
                        {% endif %}
                    </dl>
                {% endif %}

            </div>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-md-6">
                Share this event
                {% include 'partials/rrssb.html.twig' %}
            </div>
        </div>

    </div>

{% endblock %}
